<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Aguardando confirmação para: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "deixe em branco caso não queira alterar", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "precisamos que confirme a senha para gravar as alterações", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Excluir conta", registration_path(resource_name), data: { confirm: "Confirma?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
