<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="author" content="Gabriel" />
    <meta name="robots" content="noindex, nofollow" />
    <title>TCCAdmin</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <b>TCC</b>Admin
      </div>
      <div class="login-box-body">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= custom_bootstrap_flash%>
  </body>
</html>
